html,body {
height:100%;
background:red;
}
header {
display:block;
background:#02ac66;
padding:10px 0px;
}
section {
width: 67%;
float: left;
overflow: auto;
padding-bottom: 60px;
padding-top:30px;
color: blue;
}
footer {
position: relative;
margin-top: -50px;
height: 40px;
padding:5px 0px;
clear: both;
background: #d7e0e9;
text-align: center;
color: blue;
}
